trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - README.md

resources:
  repositories:
    - repository: ci-cd
      name: devops/ci-cd
      type: git
      ref: pipes
extends:
  template: obase-etailer/pazaryeri-api/.build-ci.yaml@ci-cd

